<div class="about-wrapper">
    <div class="about-index">
        <p>
            I have been working on learning Web Design and Development which was my long time aspiration. During the time i have worked for international hotel brands, i have always tried to communicate with IT departments to see how they operate to develop a web site and test its functions. When I had the opportunity to alter my career into Web Development, I started to learn basics and logic of it on my own. After seeing that it is my definite career choice
        </p>
    </div>
</div>
